---
---
<header class="header fixed left-0 right-0 top-0 bg-secondary">
  <div class="container flex items-center justify-between min-h-full">
    <a href="/" class="shrink-0">
      <img src="/img/logo.png" width="105" height="78" alt="" class="logo">
    </a>
    <div class="header-menu-wrapper bg-secondary-500 sm:bg-inherit py-20 text-center sm:py-0 sm:flex items-center w-72 sm:w-auto fixed sm:static -right-72 top-0  bottom-0 md:ml-auto"><div class="sm:block overflow-auto py-10 sm:py-0 sm:overflow-visible justify-center absolute inset-0 sm:static">
      <ul class="font-medium min-h-full justify-center flex flex-col sm:flex-row gap-14 whitespace-nowrap">
        <li><a href="/#product" class="hover:text-white">Product</a></li>
        <li><a href="/#explore" class="hover:text-white">Explore</a></li>
        <li><a href="/hotels" class="text-white bg-black px-7 py-4 leading-6 rounded-full hover:bg-secondary-250 hover:text-primary">For hotels</a></li>
      </ul>
    </div></div>
    <nav class="md:ml-16">
      <ul class="flex gap-4 items-center">
        <li class="shrink-0"><a href="https://www.facebook.com/groups/637477228565172" target="_blank">
          <img src="/img/social_fb.svg#black" width="8" height="13" alt="">
        </a></li>
        <li class="shrink-0"><a href="#">
          <img src="/img/social_insta.svg#black" width="13" height="13" alt="">
        </a></li>
        <li class="shrink-0"><a href="#">
          <img src="/img/social_youtube.svg#black" width="19" height="15" alt="">
        </a></li>
      </ul>
    </nav>
    <div class="menu-btn sm:ml-10 sm:hidden">
      <span></span>
    </div>
  </div>
</header>
